* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #0f1111;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-evenly;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.nav-logo {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("screenshot.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  
}

.add-fir {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-left: 8px;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

.all {
  width: 50px;
  height: 100%;
  background-color: #f3f3f3;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 5px;
  font-size: 0.9rem;
}

.bar {
  flex: 1;
  height: 100%;
  font-size: 1rem;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 0;
}

.searchicon {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(255, 153, 0);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;

}
span{
  font-size: 0.7rem;

}
.nav-sec{
  font-size: 0.85rem;
  font-weight: 700;
}
.searchbar:hover{
  border: 2px solid orange;
}
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
}
.panel{
  background-color: #222f3d;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  justify-content:space-evenly;
  gap: 2px;
}
.panel-ops p{
  display: inline;
  margin-left: 20px;
}
.panel-ops{
  display: inline;
  justify-content: space-evenly;
  color: white;
  width: 95%;
  font-size: 0.85rem;
  font-weight: 700;
  
}
.hero{
  background-image: url("fashion.jpg");
  background-size: cover;
  height: 500px;
  
}
.shopsection{
  display: flex;
  justify-content: space-evenly;
  background-color:#e2e7e6;
  flex-wrap: wrap;
}
.box{
  height: 400px;
  
   width: 23%;
  background-color: white;
  padding:20px 0px 10px;
  margin-top: 15px;
}
.box-img{
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p{
  color: #2162a1;
}
footer{
  margin-top: 15px;
}
.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}
.foot-panel2{
  background-color: #222f3d;
  display: flex;
  height: 300px;
  justify-content: space-evenly;
}
ul{
  margin-top: 20px;
}
ul p{
  font-size: 1rem;
  font-weight: 700;
  color:white;
}
ul a{
  display: block;
  margin-top:10px;
  font-size: 0.85rem;
  color:#dddddd;

}
.foot-panel3{
  border-top: 0.5px solid white;
  
  background-color: #222f3d;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  background-image: url("screenshot.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-panel4{
  background-color: #131a22;
  color: white;
  height: 80px;
  text-align: center;
  font-size: 0.70rem;
}
.pages{
  
   padding-top:25px ;
   
}
.copyright{
  padding-top: 5px;
 
}

